/* contato.module.css */

.feedbackForm {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feedbackForm h2 {
    margin-top: 0;
    color: #333;
  }
  
  .feedbackForm p {
    margin-bottom: 20px;
  }
  
  .feedbackForm h3 {
    margin-bottom: 20px;
    font-weight: normal;
    color: #666;
  }
  
  .feedbackForm form {
    margin-top: 20px;
    
  
  }
  
  .feedbackForm label {
    display: block;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  .feedbackForm textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
   
  }
  
  .feedbackForm button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .feedbackForm button[type="submit"]:hover {
    background-color: #3e8e41;
    
  }
  .feedbackForm button[type="button"] {
    background-color: #aaa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedbackForm button[type="button"]:hover {
    background-color: #888;
  }


  .rating{
    position: relative;
    transform: translate(-50%,-50%) rotateY(180deg);
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    background-size: 10px;
    left: 47%;
  }
  
  .rating input{
    display: none;
  }
  
  .rating label{
      display: block;
      cursor: pointer;
      width: 50px;
  }
  
  .rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #0e1316;
  }
  
  .rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #ffff00;
    top: 0;
    opacity: 0;
    transition: .5;
    text-shadow: 0 4px 5px rgba(0, 0, 0, .5);
  }
  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .rating input:checked ~ label:after{
    opacity: 1;
  }