/* Container styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ac4d16;
    flex-direction: column;

}

a {
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: #ffffff 1px;
}

/* Form styling */
.login-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Input styling */
.login-form input[type="text"],
.login-form input[type="password"]
.login-form input[type="datetime-local"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Password input styling with icon */
.password-input {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input input {
    flex: 1;
    padding-right: 30px;
}

.password-input span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

/* Button styling */
.login-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #45a049;
}
.doacao form input[type="datetime-local"] {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

/* Error message styling */
.error-message {
    color: red;
    font-size: 14px;
    padding-top: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
}
